/* Container and layout styles */
.container {
    display: flex;
    box-sizing: border-box;
}

/* Ads */
.ad-label {
    font-size: 0.7rem;
    color: #999;
    margin-bottom: 8px;
}

#ads-right {
    width: 180px;
    padding: 1rem 0;
    margin-right: 1rem;
    display: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

#tablet-bottom-ad { 
    display: none; 
}

#tablet-bottom-ad .ad-label {
    text-align: center;
}

/* Responsive styles */
@media (max-width: 999px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4rem);
  }
  
  aside {
    width: 100%;
    height: 50vh;
    border-top: 1px solid var(--border-color);
    background-color: var(--button-bg);
    order: 2;
  }
  
  main {
    width: auto;
    height: 50vh;
    order: 1;
  }
  
  footer {
    padding: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.2;
  }
}

@media (min-width: 1000px) and (max-width: 1279px) {
  #tablet-bottom-ad {
    display: block;
    margin: 0;
    padding: 12px;
  }
}

@media (min-width: 1280px) {
  #ads-right { display: block; }
}
