/* Mobile and responsive styles */
@media (max-width: 999px) {
  header {
    border-bottom: 1px solid #eee;
  }

  .container {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4rem);
  }
  
  aside {
    width: 100%;
    height: 50vh;
    border-top: 1px solid var(--border-color);
    background-color: var(--button-bg);
    order: 2;
  }
  
  main {
    width: auto;
    height: 50vh;
    order: 1;
  }
  
  footer {
    padding: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.2;
  }
}
