---
import Layout from '../Layout.astro';
---

<Layout title="Example Tool">
  <Fragment slot="content">
    <aside>
      <details open>
        <summary>Input Group 1</summary>
        <div>
          <label for="input1">Input 1</label>
          <input type="text" id="input1" name="input1">
          
          <label for="input2">Input 2</label>
          <input type="text" id="input2" name="input2">
          
        </div>
      </details>
      
      <details open>
        <summary>Input Group 2</summary>
        <div>
          <label for="option1">Option 1</label>
          <select id="option1" name="option1">
            <option>Choose...</option>
            <option>Option A</option>
            <option>Option B</option>
            <option>Option C</option>
          </select>
          
          <label for="slider1">Slider 1</label>
          <input type="range" id="slider1" name="slider1" min="0" max="100" value="50">
          
          <label for="checkbox1">
            <input type="checkbox" id="checkbox1" name="checkbox1">
            Enable feature
          </label>
        </div>
      </details>
      
      <details>
        <summary>Advanced Options</summary>
        <div>
          <label for="color1">Color Picker</label>
          <input type="color" id="color1" name="color1" value="#ff0000">
          
          <label for="date1">Date</label>
          <input type="date" id="date1" name="date1">
          
          <label for="number1">Number</label>
          <input type="number" id="number1" name="number1" min="0" max="100" value="50">
        </div>
      </details>
      
      <details>
        <summary>Export Settings</summary>
        <div>
          <label for="format">Format</label>
          <select id="format" name="format">
            <option>JSON</option>
            <option>CSV</option>
            <option>XML</option>
          </select>
          
          <label for="filename">Filename</label>
          <input type="text" id="filename" name="filename" value="export">
          
          <label for="compression">
            <input type="checkbox" id="compression" name="compression">
            Enable compression
          </label>
        </div>
      </details>
      
      <button type="button">Run Tool</button>
    </aside>

    <main>
      <section>
        <div style="min-height: 400px;">
          <h2>Output</h2>
          <p>Tool output goes here</p>
        </div>
      </section>
      <section>
        <button type="button">Action Button 1</button>
        <button type="button">Action Button 2</button>
      </section>
    </main>
  </Fragment>
</Layout>
